<!DOCTYPE html>
<html>

<head>
    <title>
        Simple Application
    </title>
    <style>
        .table{
        padding:0 5px 0 0; 
        }
    </style>
</head>
<body>
<div class="container">
    <h1>
        Flask Application
    </h1>
    <h4>Question: {{ques.Question}}</h2>
    
    <br>
    <form method="post" action="{{ url_for('get_answers',qid=qid) }}">
        <label>Name: </label>
        <br>
        <input type="text" placeholder="Name" name="name">
        <br>
        <label>Answer: </label>
        <br>
        <textarea name="answer" placeholder="Answer" cols="20" rows="5"></textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
</div>
<br>
<div class="container-answers">
    <table class="tables">
        <thead class="table-header">
            <tr>
                <th scope='col'>Name</th>
                <hr>
                <th scope='col'>Answer</th>
            </tr>
        </thead>
        <tbody>
            {% if not data.vars %}
            {% for q in data %}
            <tr>
                <td>{{ q.Name }}</td>
                <td>{{ q.Answers }}</td>
                    <td>
                        <a href="{{ url_for('update_as', ans=q.Answers,name=q.Name,id=q.id,qid=q.qid) }}" class="btn-edit" role="button">
                            Edit
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('delete_as',id=q.id) }}" class="btn-delete" role="button">
                            Delete
                        </a>
                    </td>

            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    
</div>
</body>

</html>